:root {
  --gradient: linear-gradient(
    45deg,
    #17005b,
    #22047e,
    #2a0499,
    #3808c7,
    #3e08e0,
    #4204ff
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
