:root {
  --gradient: linear-gradient(
    45deg,
    rgb(1, 1, 1.1),
    rgb(10, 10, 10, 0.1),
    rgb(20, 20, 20, 0.1),
    rgb(30, 30, 30, 0.1)
  );
}

.gradient-animation {
  background-size: 105%;
  background-image: var(--gradient);
  animation: bg-animation 120s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  20% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  20% {
    background-position: 100%;
  }
}
